/* Default Styles */
:root {
    --font: #212529;
    --medium-gray: #6C757D;
    --light-gray: #DEE2E6;
    --light-light-gray: #F7F7F7;
    --white: #FFFFFF;
    --btn: #28A745;
    --btn-hover: #218838;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
      /* border-box box model allows us to add padding and border to our elements without increasing their size */
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
}

img {
	/* Make Images Responsive */
    max-width: 100%;
}
/* END Default Styles */
* {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 5px solid var(--light-gray);
  font-weight: bold;
}

header button {
 background-color: var(--white);
 border: 1px solid var(--btn);
 padding: 5px 10px;
 color: var(--btn);
 border-radius: 5px;
}

.top-nav {
  list-style: none;
}

.top-nav li {
  display: inline-block;
  padding-right: 5px;
}

header p {
  margin-right: auto;
}

.top a {
  text-decoration: none;
  color: var(--font);
}

/* ebd of the top */

.Title {
  text-align: center;
  padding-top: 30px;
  font-size: 35px;
}

.Title p {
  max-width: 700px;
  text-align: center;
   display:inline-block;
   padding-top: 10px;
   padding-bottom: 30px;
   font-size: medium;

}

/* end of the title */

.features {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  justify-content: center;
}

.feature {
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 35px;
}

.feature h4 {
  background-color: var(--light-light-gray);
  padding: 5px 5px;
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: normal;
}

.feature p {
  margin: 5px;
}

.feature button {
  width: 90%;
  height: 19%;
}

 .white {
  border: 1px solid var(--btn);
  border-radius: 5px;
  color: var(--btn);
  margin-top: 20px;
}

.green {
  border: 1px solid var(--btn);
  border-radius: 5px;
  color: var(--white);
  background-color: var(--btn);
  margin-top: 20px;
}

.white:hover {
  background-color: var(--btn);
  color: var(--white);
}

.green:hover {
  background-color: var(--btn-hover);
}

.signin:hover {
  background-color: var(--btn);
  color: var(--white);
}

.top-nav li:hover {
  text-decoration: underline;
}
/* end of the features */

.resources {
  display: grid;
  grid-gap: 90px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  justify-content: center;
  margin-top: 30px;
}

.resource h4{
  padding-bottom: 10px;
}

.resource p {
  color: var(--medium-gray);
  font-weight: bold;
}

h1 {
  font-weight: normal;
}

.month {
  color: var(--medium-gray);
}


@media (max-width: 700px) {
  
header {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 5px solid var(--light-gray);
  font-weight: bold;
  text-align: center;
}

header p {
  margin-left: auto;
  font-size: 20px;
  padding-bottom: 10px;
}

header li {
  font-size: 13px;
  padding-bottom: 7px;
}

.signin  {
  width: 80px;
  height: 35px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.feature {
  flex-grow: 1;
  min-width: 45%;
}


.resources {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  text-align: left;
  justify-content: center;
  margin-top: 30px;
  padding-right: 30px;
}
}

@media (max-width: 550px) {
  
.resources {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: left;
  justify-content: center;
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  grid-gap: 15px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}
  
  .feature {
  flex-grow: 1;
  min-width: 100%;
}
}