body {
    background-color: #014462;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

html {
    height: 100%;
}


.photo {
    display: grid;
    grid-template-columns: 22em 1fr;
    grid-template-rows: 22em 1fr;
    grid-gap: 10em;
    padding-left: 30px;
}

.pic {
    background-image: url("profilepic.jpg");
    background-size: cover;
    border-radius: 300px;
    border: 7px solid #C8AD7F;
}


.info {
    color: #C8AD7F;
}

.info i:hover {
    transform: scale(0.90);
    color: #54D094;
}

.bio {
    color: white;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    border: 0px;
    padding-left: 20px;
    text-align: center;
}

.footer {
    display: grid;
    color: white;
    justify-items: center;
    padding-top: 6em;
    text-align: center;
}

.topnav {
  background-color: #743D2B;
  overflow: hidden;
  width: 100%;
  top: 0;
  position: fixed;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #58CCED;
  color: white;
}

.name {
    padding-top: 20px;
    color: white;
    font-size: 2em;
    padding-left: 20px;
    text-align: center;
}

/* FIRST PAGE */

/* GOALS */

.goalsbody {
    background-color: #001118;
    margin: 0px;
    font-family: 'Fredericka the Great', cursive;
}

.goalsname {
    display: grid;
    justify-items: center;
    padding-top: 1em;
    font-size: 2em;
    color: rgba(255,255,255, 0.8);
}

.goalsname h1 {
    border: 8px solid #C8AD7F;
    padding: 10px;
    background-color: black;
    border-radius: 15px;
}

.goalhubs {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 45% 45%;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
    height: 70em;
}

.goalhub {
    border: 3px solid #E0AB8B;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.goalhub h2 {
 text-align: center;
 font-size: 45px;
 color: rgba(255,255,255, 0.7);
}

.goalhub li {
    font-size: 30px;
}




.languages {
    font-size: 25px;
}

.goalhubvacations {
    border: 3px solid #E0AB8B;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image: url("clouds.jpg");
    color: white;
    background-size: cover;
    font-size: 30px;
}

.goalhubvacations h2 {
 text-align: center;
}

.goalhub:hover {
    transform: scale(1.03);
}

.goalhubvacations:hover {
    transform: scale(1.03);
}

.goalhubprojects {
    border: 3px solid #E0AB8B;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-image: url("seeds.jpg");
    color: white;
    background-size: cover;
    font-size: 30px;
}


.goalhubprojects h2 {
    text-align: center;
}

.goalhubprojects:hover {
    transform: scale(1.03);
}

.goalhubtravel {
    border: 3px solid #E0AB8B;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #2E242C;
    font-size: 30px;
}

.goalhubtravel:hover {
    transform: scale(1.03);
}

.goalhubtravel h2 {
    text-align: center;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

.gallery {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 445px
}   

.gallery img {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    position: sicky;
    top: 0;
}
/* END OF GOALS */

/* START OF SKILLS */



.skillsbody {
    display: grid;
    margin: 0;
    padding-top: 48px;
    height: 100%;
    grid-template-columns: auto 45%;
    grid-template-rows:34% 33% 33%;
    grid-template-areas:
    "sidebar sect1"
    "sidebar sect2"
    "sidebar sect3";
}

aside {
    grid-area: sidebar;
    background-color: #5F84A2;
    text-align: center;
}

#classes {
    grid-area: sect1;
    background-color: #194569;
    text-align: center;
}

#work {
    grid-area: sect2;
    background-color: #CADEED;
    text-align: center;
}

#life {
    grid-area: sect3;
    background-color: #02557A;
    text-align: center;
}

table th, td {
    border: 7px solid #CC9466;
    font-size: x-large;
    color: white;
    background-color: black;
}

