html {
    background-image: url("Grocery List background.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.list {
    display: grid;
    justify-content: center;
    color: #00534a;
}

.footer {
    display: grid;
    justify-content: center;
    color: #a6001b;
    padding-top: 100px;
}

.submit {
    border-radius: 10px;
    min-height:25px;
    min-width: 80px;
    background-color: #84d46b;
    color: #152238;
}

.remove {
    border-radius: 10px;
    background-color: #DE4A4A;
    color: white;
}